<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola mundo</h1>
    <ul id="gamesList">
        <a th:href="@{/games/new-game}">
            <button>Agregar Nuevo Videojuego</button>
        </a>
        <li th:each="game : ${games}">
            <div>
                <!-- Ponlo en una tabla y más apañao-->
                <p th:text="'Título ' + ${game.title} + ' Género ' + ${game.genre} + ' Plataforma ' + ${game.platform} + ' Fecha de lanzamiento ' + ${game.release_date} + ' Nota ' + ${game.rating}"></p>
            </div>
        </li>
    </ul>
</body>
</html>